---
import Layout from '../layout/Layout.astro'

const grid = [
  {
    name: 'bg-[#203c26]',
    description: `asdasdasd`
  },
  {
    name: 'bg-[#D6EFD8]',
    description: `dfgfdg`
  },
  {
    name: 'bg-[#EDF1D6]',
    description:
      'Creates a grid with 3 columnua. Ut enim ad minin reprehenderit in votat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
  },
  {
    name: 'bg-[#4b8154]',
    description: 'Creates a grid with 4ssssadasd'
  }
]
---

<Layout title='Albahaca'>
  <div class='grid grid-cols-2 grid-rows-2 gap-4 px-4 py-20 h-full'>
    {
      grid.map((item) => (
        <div class={`${item.name} rounded-xl p-4`}>{item.description}</div>
      ))
    }
  </div>
</Layout>
